<mat-toolbar color="primary">
  <span class="logo" routerLink="/">TAW Flights</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn(); else loginBtn">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ getUserName() || 'Profilo' }}
    </button>
    <mat-menu #userMenu="matMenu">
      <div *ngIf="getRoleFromToken() === 0" mat-menu-item>
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon>account_circle</mat-icon>
          Profilo
        </button>
      </div>
      <button *ngIf="!isCurrentRoute('/')" mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Homepage
      </button>
      <!-- SOLO per admin -->
      <button *ngIf="getRoleFromToken() === 1 && !isCurrentRoute('/admin-dashboard')" mat-menu-item
        routerLink="/admin-dashboard">
        <mat-icon>admin_panel_settings</mat-icon>
        Dashboard Admin
      </button>
      <!-- SOLO per airline -->
      <button *ngIf="getRoleFromToken() === 2 && !isCurrentRoute('/homepage-airline')" mat-menu-item
        routerLink="/homepage-airline">
        <mat-icon>airline_seat_recline_extra</mat-icon>
        Dashboard Airline
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #loginBtn>
    <a mat-raised-button color="accent" routerLink="/signin">
      <mat-icon>login</mat-icon>
      Accedi al sistema
    </a>
  </ng-template>
</mat-toolbar>