<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <mat-toolbar color="primary">Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         routerLink="airline-registration"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>person_add</mat-icon>
        Invita Compagnia
      </a>
      <a mat-list-item
         routerLink="airlines-management"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>flight</mat-icon>
        Gestione Compagnie
      </a>
      <a mat-list-item
         routerLink="users-management"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>group</mat-icon>
        Gestione Utenti
      </a>
      <a mat-list-item
         routerLink="airports-management"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>location_on</mat-icon>
        Gestione Aeroporti
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Dashboard Amministratore</span>
    </mat-toolbar>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
