<mat-card>
  <mat-card-title>Gestione Aeroporti</mat-card-title>
  <mat-card-content>
    <div class="sort-controls">
      <span>Ordina per:</span>
      <button mat-button [color]="sortBy === 'name' ? 'primary' : ''" (click)="setSort('name')">
        Nome
        <mat-icon *ngIf="sortBy === 'name'">
          {{ sortDir === 'asc' ? 'arrow_downward' : 'arrow_upward' }}
        </mat-icon>
      </button>
    </div>
    <div *ngIf="loading" class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
    <div *ngIf="!loading && !error && sortedAirports.length === 0" class="empty-list">
      Nessun aeroporto trovato.
    </div>
    <div *ngIf="!loading && sortedAirports.length > 0" class="airports-list">
      <app-airport-card
        *ngFor="let airport of sortedAirports"
        [name]="airport.name"
        [city]="airport.city"
        [country]="airport.country"
        [timeZone]="airport.time_zone">
      </app-airport-card>
    </div>
  </mat-card-content>
</mat-card>